.em-app {
  padding: 20px;
}

.em-header {
  height: 100px;
  padding: 20px;
  color: #666666;
  border-bottom: 1px solid #767676;
  text-align: center;
}

.em-title {
  font-size: 36px;
}
.em-subtitle {
  font-size: 24px;
}

.em-body {
  padding: 20px;
  font-size: 18px;
  color: #666666;
}

.em-intro {
  font-size: 24px;
}

.em-error {
  color: red;
  text-align: center;
}

.em-btn-container {
  margin-top: 10px;
  text-align: center;
}
